@media screen and (min-width: 930px) {
  .landing-page {
    text-align: center;
    vertical-align: middle;
    line-height: 60vh;
    color: darkslategray;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 30vh;
  }

}

@media screen and (max-width: 929px) {
  .landing-page {
    text-align: center;
    vertical-align: middle;
    line-height: 60vh;
    color: darkslategray;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 18vh;
  }
}