.landing-page {
  color: white;
  border: 1px solid red;
  border-radius: 10px;
  width: 110vh;
  height: 40vh;
  position: absolute;
  left: 50%;
  top: 37%;
  margin-left: -55vh;
  margin-top: -22.5vh;
  font-size: 10vh;
}