/* large screen */

@media screen and (min-width: 930px) {
  .category-body {
    width: 75%;
    margin: 0 auto;
    text-align: left;
  }

  .category-item {
    display: flex;
    flex-flow: row;
    height: 15vh;
  }

  .button-item {
    order: 1;
    height: 100%;
    width: 5vh;
    display: flex;
  }

  p {
    order: 2;
    height: 5vh;
    line-height: 5vh;
    margin: 0;
    padding-left: 2vh;
    align-self: center;
    font-size: 5vh;
    color: #90AFC5;
  }

  .category {
    color: #90AFC5;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
  }


  /* hide the scroll bars */
  .category::-webkit-scrollbar {
      display: none;  /* Safari and Chrome browsers */
  }

  .category {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none;  /* mozilla */
  }
}

/* mobile screen */
@media screen and (max-width: 929px) {
  .category {
    color: #90AFC5;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
  }


  /* hide the scroll bars */
  .category::-webkit-scrollbar {
    display: none;  /* Safari and Chrome browsers */
  }

  .category {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* mozilla */
  }

  .category-body {
    width: 100vw;
    margin: 0 auto;
    text-align: left;
  }

  .category-item {
    display: flex;
    flex-flow: row;
    height: 12vh;
  }

  .button-item {
    order: 1;
    height: 100%;
    width: 15%;
    display: flex;
    padding-left: 2vh;
    
  }

  p {
    order: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin: 0;
    padding-left: 1vh;
    font-size: 4vh;
    color: #90AFC5;
  }
}