.length-header {
  height: 25%;
  border: 1px solid red;
  text-align: center;
  font-size: 6vh;
}

.length-body {
  height: 75%;
  border: 1px solid red;
  width: 20%;
  margin: 0 auto;
  text-align: left;
  font-size: 3vh;
}

.length {
  text-align: center;
  line-height: 10vh;
  color: #C71585;
  border: 5px solid #C71585;
  border-radius: 30px;
  width: 110vh;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 37%;
  margin-left: -55vh;
  margin-top: -30vh;
  font-size: 4vh;
}