.length-header {
  height: 18vh;
  line-height: 18vh;
  text-align: center;
  font-size: 8vh;
}

.length-body {
  height: 75%;
  width: 40%;
  margin: 0 auto;
  text-align: left;
  font-size: 3vh;
}

.length-item {
  display: flex;
  flex-flow: row;
  padding-top: 13px;
  padding-bottom: 13px;
}

.length {
  text-align: center;
  line-height: 10vh;
  color: #C71585;
  border: 5px solid #C71585;
  border-radius: 30px;
  width: 110vh;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 37%;
  margin-left: -55vh;
  margin-top: -30vh;
  font-size: 4vh;
}