/* body , #root and html set to 100% to avoid limiting children */
body, #root, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #2A3132;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}