/* center the text in the question-box */
.multiple-header {
  height: 18vh;
  line-height: 18vh;
  text-align: center;
}

.multiple-body {
  height: 75%;
}

.multiple-item {
  border: 1px solid red;
  display: flex;
  flex-flow: row;
  padding-top: 13px;
  padding-bottom: 13px;
}

.multiple {
  padding: 20px;
  color: #C71585;
  border: 5px solid #C71585;
  border-radius: 30px;
  width: 110vh;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 37%;
  margin-left: -55vh;
  margin-top: -30vh;
}