.multiple {
  color: white; 
  border: 1px solid red;
  border-radius: 7%;
  width: 90vh;
  height: 45vh;
  position: absolute;
  left: 50%;
  top: 37%;
  margin-left: -45vh;
  margin-top: -22.5vh;
}

.answer {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid black;
}