.multiple-body {
  height: 75%;
  margin: auto;
}

.multiple-item {
  display: flex;
  flex-flow: row;
  padding-top: 5vh;
  padding-bottom: 5vh;
  overflow-wrap: break-word;
}

.multiple {
  color: darkslategray;
  width: 100%;
  height: 100%;
  position: absolute;
}